<div class="container pt-2">
  <div class="row">
    <div class="col-lg-9">
      <input type="text" class="form-control form-control-lg" placeholder="Ingrese la URL" [(ngModel)]="url">
    </div>
    <div class="col-lg-3">
      <button type="button" class="btn btn-info w-100 btn-lg" [disabled]="url === ''" (click)="shorter()">{{btnString}}</button>
    </div>
  </div>
  <br>
  <div class="row" *ngIf="btnString === 'Reset'">
    <div class="col-lg-9">
      <input type="text" class="form-control form-control-lg" [(ngModel)]="urlShort">
    </div>
  </div>
</div>
